  <div style="text-align:center" class="login">
    <input type="text" placeholder="Username"    #usernameInput><br><br>
    <input type="password" placeholder="Password" #passwordInput><br><br>

    <button id="loginButton" (click)="login()" type="submit">Login</button>
  </div>
