<h2>Hello {{ username }} </h2>

<h3>Account access: </h3>
<ul *ngFor="let account of userService.accounts">
    <li> {{ account.accountName }} </li>
</ul>

<h3>Farm access: </h3>
<ul *ngFor="let farm of userService.farms">
    <li> {{ farm.name }} </li>
</ul>

<button [routerLink]="'/login'">Logout</button>